body { margin:0;  overflow-x: hidden; }  
::-webkit-scrollbar-track {
    background-color: #fff;
}
::-webkit-scrollbar {
    width: 0px;
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: #fff;
}